<div>
    <h2>Sign-up Page</h2>
    <form class="form signup-form">
        <div>
            <label for="signup-name">name:</label>
            <input id="signup-name" type="text"/>
        </div>
        <div>
            <label for="signup-email">email:</label>
            <input id="signup-email" type="text"/>
        </div>
        <div>
            <label for="signup-password">password:</label>
            <input id="signup-password" type="password"/>
        </div>
        <div>
            <button type="submit">SUBMIT!</button>
        </div>
    </form>
</div>

{{!-- add javascript --}}
<script src="./js/signup.js"></script>