<div>
    <h2>Login Page</h2>
    <form id="login-form">
        <label for="login-email">EMAIL</label>
        <input id="login-email" type="text" />

        <label for="login-password">PASSWORD</label>
        <input id="login-password" type="text" />

        <button type="submit">SUBMIT!</button>
    </form>
</div>

{{!-- add javascript --}}
<script src="./js/login.js"></script>