<div class="col-md-6">
    <form class="new-post-form">
        <div>
            <label for="comment-post">Comment:</label>
            <input type="text" id="comment-post" name="comment-post" />
        </div>
        <div>
            <button type="submit">Create</button>
        </div>
    </form>
</div>

{{!-- add javascript --}}
<script src="./js/comment.js"></script>